@model Book;
@using BibliotecaGestor.Models.Database;

<div class="container-fluid">
	<div class="row">
		<div class="col-md-8">
			<table class="table" style="overflow-y: auto>
				<thead>
					<tr>
						<th>
							#
						</th>
						<th>
							Title
						</th>
						<th>
							Author
						</th>
						<th>
							Isbn
						</th>
                        <th>
							Publisher
						</th>
					</tr>
				</thead>
				<tbody>
					@{
						MySqlConector conector = new MySqlConector();
						database db = new database(new BookData(conector.Conection()));
						dynamic books = db.GetAll();
						
						foreach(var item in books)
						{
							<tr class="table-active">
								<td>@item.GetIdBook()</td>
								<td>@item.GetAuthor()</td>
                                <td>@item.GetTitle()</td>
                                <td>@item.GetIsbn()</td>
                                <td>@item.GetPublisher()</td>
                                <td>
                                <a href="@Url.Action("Edit", "Book", new { id = item.GetIdBook() })">
                                    <button class="btn btn-primary">
                                        Edit
                                    </button>
                                </a>
								</td>
							</tr>
						}
					}
				</tbody>
			</table>
		</div>
		<div class="col-md-4">
		</div>
	</div>
</div>